body {
  background: darken(@white, 1%);
}

.container-main {
  .highlight {
    color: @gold;
  }
  header {
    margin: 10px 0;
    .clearfix();
    .social-media {
      float: right;
      text-align: center;
      .social-media-button {
        display: inline-block;
        .ie7-inline-block();
      }
    }
    .banner {
      height: 162px;
      width: 560px;
      background: url('../img/banner.png') no-repeat;
    }
  }
  section {
    margin-bottom: 50px;
  }
}

footer {
  padding: 25px 0;
  box-sizing: border-box;
  border-top: 1px solid @grayLight;
  p {
    #font > .shorthand(13px, normal, 18px);
  }
}

// force vertical scrollbar
html {
    overflow-y: scroll;
}

// sticky footer
html, body {
  height: 100%;
}

body {
  @footerHeight: 120px;

  .sticky-footer-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -@footerHeight;
    .sticky-footer-push {
      height: @footerHeight;
    }
  }

  footer {
    height: @footerHeight;
    #grid .core .span(@gridColumns);
    margin: 0 auto;
  }
}
