<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>

  <title>{{ page.title }}</title>

  <link rel='stylesheet' href='public/css/style.css'>
</head>
<body>
  <div class='sticky-footer-wrapper'>
    <div class='container container-main' id='landing-page'>
      {{ content }}
    </div>
    <div class='sticky-footer-push'></div>
  </div>
  <footer>
    <p>Philantropist is an open-source project hosted on <a href='https://github.com/jharding/philanthropist'>GitHub</a>.</p>
  <p>Have a feature you'd like to see implemented or a bug to report? Contact <a href='https://twitter.com/#!/JakeHarding'>@JakeHarding</a> or <a href='https://github.com/jharding/philanthropist/issues'>open an issue on GitHub</a>.</p>
  </footer>
  {% include analytics.html %}
</body>
</html>
